@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

body {
  min-height: 100vh;
  height: 100vh;
  max-height: 100%;
  margin: 0;
  background-color: #eae5e2;
  font-family: "Manrope", "arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  padding-top: 112px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
